
<link rel="stylesheet" href="/css/index/navbar.css">
<link rel="stylesheet" href="/css/index/listproject.css">


<div class="main-container">
    <div class="nav-container">
        <a style="text-decoration: none; color: black" href="/newproject">
            <div class="new-project">
                Create New Project
            </div>
        </a>

    </div>
    <div class="list-project">
        <% for (let project of projects) { %>
            <div class="project-container">
                <div class="project-name-author">
                    <span class="project-name"><%= project.name %></span>
                    <span class="project-author"><%= project.author %></span>
                </div>
                <div class="project-description"><%= project.description %></div>
            </div>
        <% } %>
    </div>
</div>
