
<link rel="stylesheet" href="/css/index/navbar.css">
<link rel="stylesheet" href="/css/index/listproject.css">


<div class="main-container">
    <div class="nav-container">
        <a style="text-decoration: none; color: black" href="/newproject">
            <div class="new-project">
                Create New Project
            </div>
        </a>

    </div>
    <div class="list-project">
    </div>
</div>
