<div class="form-container">
    <form method="post" action="/newproject">
        <div>
            <span>Name: </span>
            <input type="text" name="name" />
        </div>
        <div>
            <span>Description: </span>
            <input type="text" name="description" />
        </div>
        <div>
            <span>Author</span>
            <input type="text" name="author" />
        </div>
        <button type="submit">Submit</button>
    </form>

</div>