<link rel="stylesheet" href="/css/newproject/newproject.css">



<div class="main-container">
    <div class="form-container">
        <form method="post" action="/newproject">
            <div class="input-style">
                <span>Name: </span>
                <input required type="text" name="title" placeholder="Name"/>
            </div>
            <div class="input-style">
                <span>Author: </span>
                <input required type="text" name="author" placeholder="Author" />
            </div>
            <div class="input-style">
                <span>Description: </span>
                <textarea style="resize: none;" required name="description" placeholder="Description"></textarea>
            </div>
            <div class="button-style">
                <button type="submit">Submit</button>
            </div>

        </form>

    </div>
</div>