
.main-container {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.nav-container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #7DF9FF;
    gap: 10px;
}

.new-project {
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(31, 223, 31, 0.74);
}

.new-project:hover {
    background-color:  	greenyellow;
}

.nav-search {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.nav-search input {
    height: 40px;
    width: 200px;
    padding: 10px;
    border-radius: 10px;
    outline: none;
    border: none;
}

.nav-search input:focus {
    border: 1px solid black;
}


.nav-search select {
    height: 40px;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 10px;
}

.nav-search button {
    height: 40px;
    width: max-content;
    padding: 10px;
}