
.main-container {
    font-family: sans-serif;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.nav-container {
    height: 60px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    padding: 10px;
    background-color: #7DF9FF;
}

.new-project {
    border: 1px solid black;
    padding: 4px;
    cursor: pointer;
    border-radius: 10px;
    background-color: rgba(31, 223, 31, 0.74);
}

.new-project:hover {
    background-color:  	greenyellow;
}
